<?php

/*
 * This file is part of the Jirro package.
 *
 * (c) Rendy Eko Prastiyo <rendyekoprastiyo@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

return [
    'application_name' => 'Jirro Development',
    'services' => require __DIR__ . '/services.php',
    'dbal' => [
        'connection' => [
            'params' => [
                'dbname'   => 'blar',
                'user'     => 'root',
                'password' => 'root',
                'host'     => 'localhost',
                'driver'   => 'pdo_mysql',
            ],
        ],
    ],
    'bundles' => require __DIR__ . '/bundles.php',
    'asset_base_url' => '/assets',
    'asset_base_dir' => __DIR__ . '/../web/assets',
];
